<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CacheProvider" type="GBI.Core.Cache.CacheProviderSection, GBI.Core.Cache" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <CacheProvider defaultProvider="RedisProvider">
    <providers>
      <add name="RedisProvider" type="GBI.Core.Cache.RedisProvider,GBI.Core.Cache" />
    </providers>
  </CacheProvider>
  <appSettings>
    <add key="Redis.ReadWriteHosts" value="47.91.211.88:6379" />
    <add key="Redis.ReadOnlyHosts" value="47.91.211.88:6380|47.91.211.88:6381" />
  </appSettings>
</configuration>