@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
    <head>
    <title>企业信息化平台管理系统</title>
    @*添加Jquery EasyUI的样式*@
    <link href="~/Content/JqueryEasyUI/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/JqueryEasyUI/themes/icon.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/themes/Default/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/Default/default.css" rel="stylesheet" type="text/css" />

    @*添加Jquery，EasyUI和easyUI的语言包的JS文件*@
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/locale/easyui-lang-zh_CN.js"></script>

    @*日期格式的引用*@
    <script src="~/Content/datapattern.js"></script>

    @*Tag标签的控件应用*@
    <script src="~/Content/JQueryTools/Tags-Input/jquery.tagsinput.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/JQueryTools/Tags-Input/jquery.tagsinput.css" />

    <script type="text/javascript">
	<!--
        //初始角色分类：系统角色、业务角色、应用角色...
        function initRoleCategorys() {
            $('#txtCategory').empty();
            $.getJSON("/Role/GetRoleCategorys", function (json) {
                $.each(json, function (i, item) {
                    $('#txtCategory').append('<option value="' + item.Text + '">' + item.Value + '</option>');
                });
            });
        }

        //初始化公司
        function initCompany() {
            $('#txtCompany_ID').combotree({
                url: '/User/GetMyCompanyTreeJson?userId=@Session["UserId"]',
                valueField: 'id',
                textField: 'text',
                required: true,
                onClick: function (node) {
                    //
                }
            });
        }

        //根据用户角色初始化功能树
        function initTreeFunction() {
            $("#loading").show();

            $('#treeFunctionView').tree({
                checkbox: true,
                cascadeCheck: false,
                url: '/Function/GetRoleFunctionByUser?userId=@Session["UserId"]',
                onClick: function (node) {
                    //
                }
            });

            var id = $("#txtID").val();
            initRoleFunction(id);

            $("#loading").fadeOut(500);
        }

        function initRoleFunction(id) {
            if (id != "") {
                //全部操作功能取消勾选
                var treeMenu = "treeFunctionView";
                unCheckTree(treeMenu);
                //勾选指定内容
                $.getJSON("/Function/GetFunctions?r=" + Math.random() + "&roleid=" + id, function (json) {
                    $.each(json, function (i, item) {
                        var node = $('#' + treeMenu).tree('find', item.ID);//查找节点  
                        if (node) {
                            $('#' + treeMenu).tree('check', node.target);//将得到的节点选中  
                        }
                    });
                });
            }
        }

        //保存角色操作功能
        function saveRoleFunction() {
            var functionList = new Array();
            var nodes = $('#treeFunctionView').tree('getChecked');
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].iconCls != "icon-organ") {
                    functionList.push(nodes[i].id);
                }
            }

            var url = '/Role/EditFunctions?r=' + Math.random();
            var roleId = $('#txtID').val();

            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                data: { roleId: roleId, newList: functionList.join(',')},
                success: function (result) {
                    $.messager.alert("提示", "操作成功！ ");
                },
                error: function (xhr, status, error) {
                    $.messager.alert("提示", "操作失败"); //xhr.responseText
                }
            });
        }

        //初始化角色列表
        function initRoleTree() {
            $("#loading").show();

            $('#treeRole').tree({
                url: '/Role/GetMyRoleTreeJson?userId=@Session["UserId"]',
                onClick: function (node) {
                    var id = node.id;
                    var dept = "dept";
                    var role = "role";
                    if (id.indexOf(dept) == 0) {
                        var newid = id.substring(dept.length, id.length);
                        //loadDataByOu(newid);
                    }
                    else if (id.indexOf(role) == 0) {
                        var newid = id.substring(role.length, id.length);
                        loadData(newid);
                    }
                }
            });

            $("#loading").fadeOut(500);
        }

        //初始化角色可操作的数据（组织机构）
        function initRoleDataView() {
            $("#loading").show();

            //先初始化所有部门
            $('#treeDataView').tree({
                checkbox: true,
                cascadeCheck: false,
                url: '/User/GetMyDeptTreeJson?userId=@Session["UserId"]',
                onClick: function (node) {
                    //
                }
            });

            var id = $("#txtID").val();
            if (id != "") {
                initRoleData(id);
            }
            
            $("#loading").fadeOut(500);
        }

        function initRoleData(id) {
            if (id != "") {
                //角色包含的数据权限（组织机构）
                var treeMenu = "treeDataView";
                unCheckTree(treeMenu);
                //勾选指定内容
                $.getJSON("/RoleData/GetRoleDataList?r=" + Math.random() + "&roleId=" + id, function (json) {
                    $.each(json, function (i, item) {
                        var node = $('#' + treeMenu).tree('find', item);//查找节点  
                        if (node) {
                            $('#' + treeMenu).tree('check', node.target);//将得到的节点选中  
                        }
                    });
                });
            }
        }

        function expandAll(treeName) {
            var node = $('#' + treeName).tree('getSelected');
            if (node) {
                $('#' + treeName).tree('expandAll', node.target);
            }
            else {
                $('#' + treeName).tree('expandAll');
            }
        }
        function collapseAll(treeName) {
            var node = $('#' + treeName).tree('getSelected');
            if (node) {
                $('#' + treeName).tree('collapseAll', node.target);
            }
            else {
                $('#' + treeName).tree('collapseAll');
            }
        }
        function unCheckTree(tree) {
            var nodes = $('#' + tree).tree('getChecked');
            if (nodes) {
                for (var i = 0; i < nodes.length; i++) {
                    $('#' + tree).tree('uncheck', nodes[i].target);
                }
            }
        }
        function checkAllTree(tree, checked) {
            var children = $('#' + tree).tree('getChildren');
            for (var i = 0; i < children.length; i++) {
                if (checked) {
                    $('#' + tree).tree('check', children[i].target);
                } else {
                    $('#' + tree).tree('uncheck', children[i].target);
                }
            }
        }


        //供弹出窗口关闭后刷新关系
        function reloadRelation() {
            var id = $("#txtID").val();
            loadData(id);
        }

        //加载制定的对象数据
        function loadData(id) {
            $("#loading").show();
            //$.ajaxSettings.async = false;
            $.getJSON("/Role/FindById?r=" + Math.random() + "&id=" + id, function (info) {
                $("#txtID").val(info.ID);
                $("#txtName").val(info.Name);
                $("#txtNote").val(info.Note);
                $("#txtHandNo").val(info.HandNo);
                $("#txtSortCode").val(info.SortCode);

                $("#txtCategory").val(info.Category);
                $('#txtCompany_ID').combotree('setValue', info.Company_ID);
            });
            
            initRoleFunction(id);
            initRoleData(id);

            //刷新角色的组织机构和用户列表
            initRoleOus(id);
            initRoleUsers(id);

            $("#loading").fadeOut(500);
        }

        //刷新角色的组织机构列表
        function initRoleOus(id) {
            $('#lbxOUs').empty();
            $.getJSON("/OU/GetOusByRole?r=" + Math.random() + "&roleid=" + id, function (json) {
                $.each(json, function (i, item) {
                    $('#lbxOUs').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                });
            });
        }

        //初始化角色的用户
        function initRoleUsers(id) {
            $('#lbxUsers').empty();
            $.getJSON("/User/GetUsersByRole?r=" + Math.random() + "&roleid=" + id, function (json) {
                $.each(json, function (i, item) {
                    $('#lbxUsers').append('<option value="' + item.ID + '">' + item.FullName + '</option>');
                });
            });
        }

        //保存对象数据
        function saveData() {
            if ($("#txtName").val() == "") {
                $("#txtName").focus();
                $.messager.alert("提示", "角色名称不能为空"); return;
            }

            var url = '/Role/Insert?r=' + Math.random();
            var id = $("#txtID").val();
            if (id != "") {
                url = '/Role/Update?id=' + id;
            }

            var postData = $("#ffAdd").serializeArray();
            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                data: postData,
                //data: { ID: $("#txtID").val(), Name: $("#txtName").val(), HandNo: $("#txtHandNo").val(), SortCode: $("#txtSortCode").val(),
                //    Category: $("#txtCategory").val(), Company_ID: $('#txtCompany_ID').val(), Note: $("#txtNote").val()
                //},
                success: function (msg) {
                    if (msg == "true") {
                        $.messager.alert("提示", "操作成功！ ");
                        initRoleTree();
                    }
                    else {
                        $.messager.alert("提示", "操作失败");
                    }
                },
                error: function (xhr, status, error) {
                    $.messager.alert("提示", "操作失败"); //xhr.responseText
                }
            });
        }

        //新增清空控件
        function addData() {
            $("input[type=text][id*='txt']").val("");
            $("textarea[id*='txt']").empty();
            $("select[id*='lbx']").empty();
        }

        //删除当前记录
        function delData() {
            if ($("#txtID").val() == "") {
                $.messager.alert("提示", "请选择记录");
                return;
            }

            $.messager.confirm("删除确认信息", "您要确定删除该条记录吗？", function (deleteAction) {
                if (deleteAction) {
                    $.ajax({
                        type: 'POST',
                        url: '/Role/Delete?r=' + Math.random() + '&op=delete',
                        async: false,
                        data: { ID: $("#txtID").val() },
                        success: function (msg) {
                            if (msg == "true") {
                                $.messager.alert("提示", "操作成功！ ");
                            }
                            else {
                                $.messager.alert("提示", "操作失败");
                            }
                        },
                        error: function (xhr, status, error) {
                            $.messager.alert("提示", "操作失败");
                        }
                    });
                    initRoleTree();
                }
            });
        }

        function deleteUser() {
            var removeList = new Array();
            $('#lbxUsers option:selected').each(function (i, selected) {
                removeList[i] = $(selected).val();
            });

            var url = '/Role/EditUserRelation?r=' + Math.random();
            removeAction(url, removeList);
        }

        function deleteOU() {
            var removeList = new Array();
            $('#lbxOUs option:selected').each(function (i, selected) {
                removeList[i] = $(selected).val();
            });

            var url = '/Role/EditOuRelation?r=' + Math.random();
            removeAction(url, removeList);
        }

        //通用保存关系操作
        function removeAction(url, removeList) {
            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                data: { roleId: $("#txtID").val(), addList: '', removeList: removeList.join(',') },
                success: function (id) {
                    $.messager.alert("提示", "操作成功！ ");
                },
                error: function (xhr, status, error) {
                    $.messager.alert("提示", "操作失败"); //xhr.responseText
                }
            });

            reloadRelation();
        }

        //对象居中的函数，调用例子：$("#loading").center();
        jQuery.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", Math.max(0, (($(window).height() - this.outerHeight()) / 2) +
                                                $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - this.outerWidth()) / 2) +
                                                $(window).scrollLeft()) + "px");
            return this;
        }

        //初始化对象
        $(document).ready(function () {
            //初始化角色分类
            initRoleCategorys();
            //初始化公司列表
            initCompany();

            //初始化当前角色所能分配的功能
            initTreeFunction();
            $("#roleExpand").bind("click", function () {
                expandAll("treeRole");
            });
            $("#roleCollapse").bind("click", function () {
                collapseAll("treeRole");
            });

            //初始化角色包含的数据（组织机构）
            initRoleDataView();
            $("#roleDataExpand").bind("click", function () {
                expandAll("treeDataView");
            });
            $("#roleDataCollapse").bind("click", function () {
                collapseAll("treeDataView");
            });

            //初始化角色树
            initRoleTree();
            $("#functionExpand").bind("click", function () {
                expandAll("treeFunctionView");
            });
            $("#functionCollapse").bind("click", function () {
                collapseAll("treeFunctionView");
            });
            //编辑相关关系
            reloadEditTree();

            //角色包含机构的树刷新
            $("#roleDeptExpand").bind("click", function () {
                expandAll("treeRoleDeptView");
            });
            $("#roleDeptCollapse").bind("click", function () {
                collapseAll("treeRoleDeptView");
            });

            $("#loading").center(); //loading的图片显示居中
        });

        function saveRoleData() {
            var companyList = new Array();
            var deptList = new Array();
            var nodes = $('#treeDataView').tree('getChecked');
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].iconCls == "icon-organ") {//公司节点
                    companyList.push(nodes[i].id);
                }
                else {
                    deptList.push(nodes[i].id);
                }
            }

            var url = '/RoleData/UpdateRoleData?r=' + Math.random();
            var roleId = $('#txtID').val();

            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                data: { roleId: roleId, belongCompanys: companyList.join(','), belongDepts: deptList.join(',')},
                success: function (result) {
                    $.messager.alert("提示", "操作成功！ ");
                    $("#DivEditOU").dialog('close');

                    //刷新角色机构列表
                    initRoleOus(roleId);
                },
                error: function (xhr, status, error) {
                    $.messager.alert("提示", "操作失败"); //xhr.responseText
                }
            });
        }

		//-->
        </script>

        <script type="text/javascript">
            //弹出修改机构的对话框
            function ShowEditOUTree() {
                if ($("#txtID").val() == "") {
                    $.messager.alert("提示", "请选择记录");
                    return;
                }
                
                //初始化角色包含的组织机构
                initEditRoleDeptView();

                $("#DivEditOU").dialog('open').dialog('setTitle', '角色包含的机构');
            }

            //初始化角色包含的组织机构
            function initEditRoleDeptView() {
                $("#loading").show();

                //先初始化所有部门
                $('#treeRoleDeptView').tree({
                    checkbox: true,
                    cascadeCheck: false,
                    url: '/User/GetMyDeptTreeJson?userId=@Session["UserId"]',
                    onClick: function (node) {
                        //
                    }
                });

                var id = $('#txtID').val();
                if (id != "") {
                    //设置角色包含的部门（勾选的）
                    var treeMenu = "treeRoleDeptView";
                    //unCheckTree(treeMenu);

                    //勾选指定内容
                    $.getJSON("/OU/GetOUsByRole?r=" + Math.random() + "&roleid=" + id, function (json) {
                        $.each(json, function (i, item) {
                            var node = $('#' + treeMenu).tree('find', item.ID);//查找节点  
                            if (node != null && node != 'undefined') {
                                $('#' + treeMenu).tree('check', node.target);//将得到的节点选中  
                            }
                        });
                    });
                }

                $("#loading").fadeOut(500);
            }


            //保存角色的组织机构
            function saveRoleDept() {
                var url = '/Role/EditOUs?r=' + Math.random();
                var roleId = $('#txtID').val();
                var newList = new Array();

                var nodes = $('#treeRoleDeptView').tree('getChecked');
                for (var i = 0; i < nodes.length; i++) {
                    newList.push(nodes[i].id);
                }

                $.ajax({
                    type: 'POST',
                    url: url,
                    async: false,
                    data: { roleId: roleId, newList: newList.join(',') },
                    success: function (result) {
                        $.messager.alert("提示", "操作成功！ ");
                        $("#DivEditOU").dialog('close');

                        //刷新角色机构列表
                        initRoleOus(roleId);
                    },
                    error: function (xhr, status, error) {
                        $.messager.alert("提示", "操作失败"); //xhr.responseText
                    }
                });
            }
        </script>

        <script type="text/javascript">
            //初始化组织机构列表
            function initEditDeptTreeview() {
                $("#loading").show();

                $('#editTreeDept').tree({
                    url: '/User/GetMyDeptTreeJson?userId=@Session["UserId"]',
                    onClick: function (node) {
                        loadDataByOu(node.id);
                    }
                });

                $("#loading").fadeOut(500);
            }

            //初始化角色列表
            function initEditRoleTree() {
                $("#loading").show();

                $('#editTreeRole').tree({
                    url: '/Role/GetMyRoleTreeJson?userId=@Session["UserId"]',
                    onClick: function (node) {
                        var id = node.id;
                        var dept = "dept";
                        var role = "role";
                        if (id.indexOf(dept) == 0) {
                            var newid = id.substring(dept.length, id.length);
                            loadDataByOu(newid);
                        }
                        else if (id.indexOf(role) == 0) {
                            var newid = id.substring(role.length, id.length);
                            loadDataByRole(newid);
                        }
                    }
                });

                $("#loading").fadeOut(500);
            }

            //根据机构加载指定列表
            function loadDataByOu(id) {
                $("#loading").show();

                //赋值给特殊字段，公司和部门查询的时候选择其中一个
                var queryParams = $('#grid').datagrid('options').queryParams;
                queryParams.Role_ID = ""; //必须清空
                queryParams.Dept_ID = id; //设置值

                $("#grid").datagrid("reload");
                $('#grid').datagrid('uncheckAll');

                $("#loading").fadeOut(500);
            }

            //根据角色加载列表
            function loadDataByRole(id) {
                $("#loading").show();

                //赋值给特殊字段，公司和部门查询的时候选择其中一个
                var queryParams = $('#grid').datagrid('options').queryParams;
                queryParams.Role_ID = id; //设置值
                queryParams.Dept_ID = ""; //设置空值

                $("#grid").datagrid("reload");
                $('#grid').datagrid('uncheckAll');

                $("#loading").fadeOut(500);
            }

            //清空标签并加上已选择用户的信息
            function reloadEditTree() {
                $("#loading").show();

                var roleid = $('#txtID').val();
                if (roleid != "") {

                    cleareChoise();//清空标签
                    var url = "/User/GetUsersByRole?r=" + Math.random() + "&roleid=" + roleid;
                    $.ajaxSettings.async = false;
                    $.getJSON(url, function (json) {

                        $.each(json, function (i, item) {
                            var id = item.ID;
                            var fullName = item.FullName;
                            addUser(id, fullName);  //加上已选择用户的信息                        
                        });
                    });
                }

                $("#loading").fadeOut(500);
            }

            //弹出修改的对话框
            function ShowEditTree() {
                if ($("#txtID").val() == "") {
                    $.messager.alert("提示", "请选择记录");
                    return;
                }

                reloadEditTree();//清空标签并加上已选择用户的信息
                initEditDeptTreeview();
                initEditRoleTree();

                var queryData = {
                @if(Session["IsSuperAdmin"] == null || (bool)Session["IsSuperAdmin"] == false) {
                    @Html.Raw("WHC_Company_ID:"+ Session["Company_ID"]);
                }
                };//可添加一些预设条件
                InitGrid(queryData);//初始化Datagrid表格数据 

                $("#DivEditUser").dialog('open').dialog('setTitle', '组织机构包含的用户');
            }

            //实现对DataGird控件的绑定操作
            function InitGrid(queryData) {
                $('#grid').datagrid({   //定位到Table标签，Table标签的ID是grid
                    url: '/User/FindWithPager',   //指向后台的Action来获取当前用户的信息的Json格式的数据
                    title: '系统用户信息',
                    iconCls: 'icon-view',
                    height: 520,
                    width: function () { return document.body.clientWidth * 0.9 },//自动宽度
                    nowrap: true,
                    autoRowHeight: false,
                    striped: true,
                    collapsible: true,
                    pagination: true,
                    pageSize: 15,
                    pageList: [15, 30],
                    rownumbers: true,
                    //sortName: 'ID',    //根据某个字段给easyUI排序
                    sortOrder: 'asc',
                    remoteSort: false,
                    idField: 'ID',
                    queryParams: queryData,  //异步查询的参数
                    columns: [[
                        { field: 'ck', checkbox: true },   //选择
                         { title: 'ID', field: 'ID', width: 80, sortable: true },
                         { title: '用户编码', field: 'HandNo', width: 80, sortable: true },
                         { title: '用户名/登录名', field: 'Name', width: 80, sortable: true },
                         { title: '真实姓名', field: 'FullName', width: 80, sortable: true },
                         {
                             title: '是否过期', field: 'IsExpire', width: 80, formatter: function (val, rowdata, index) {
                                 if (val) {
                                     return '<a class="grid_unvisible" href="javascript:void(0)" >' + val + '</a>';
                                 } else {
                                     return '<a class="grid_visible" href="javascript:void(0)" >' + val + '</a>';
                                 }
                             }
                         },
                         { title: '职务头衔', field: 'Title', width: 80, sortable: true },
                         { title: '移动电话', field: 'MobilePhone', width: 80, sortable: true },
                         { title: '办公电话', field: 'OfficePhone', width: 80, sortable: true },
                         { title: '邮件地址', field: 'Email', width: 80, sortable: true },
                         { title: '性别', field: 'Gender', width: 80, sortable: true },
                         { title: 'QQ号码', field: 'QQ', width: 80, sortable: true },
                         { title: '备注', field: 'Note', width: 80, sortable: true }
                    ]],
                    onLoadSuccess: function () {
                        $(".grid_visible").linkbutton({ text: '可用', plain: true, iconCls: 'icon-ok' });
                        $(".grid_unvisible").linkbutton({ text: '过期', plain: true, iconCls: 'icon-stop' });
                    },
                    toolbar: [{
                        id: 'btnAddChoise',
                        text: '添加选择',
                        iconCls: 'icon-add',
                        handler: function () {
                            addChoise();//实现添加记录
                        },
                    }, '-', {
                        id: 'btnComplete',
                        text: '完成选择',
                        iconCls: 'icon-ok',
                        handler: function () {
                            completeChoise();//完成选择并返回
                        }
                    }, '-', {
                        id: 'btnCleare',
                        text: '清空',
                        iconCls: 'icon-remove',
                        handler: function () {
                            cleareChoise();//清空用户选择记录
                        }
                    }, '-', {
                        id: 'btnReload',
                        text: '刷新',
                        iconCls: 'icon-reload',
                        handler: function () {
                            //实现刷新栏目中的数据
                            $("#grid").datagrid("reload");
                        }
                    }],
                    onDblClickRow: function (rowIndex, rowData) {
                        $('#grid').datagrid('uncheckAll');
                        $('#grid').datagrid('checkRow', rowIndex);
                    }
                })
            };

            //实现添加记录
            function addChoise() {
                var rows = $("#grid").datagrid("getSelections");
                //首先取出来值判断用户只能选择一个
                if (rows.length == 0) {
                    $.messager.alert("提示", "请选择一条记录", "error");
                    return;
                }

                for (var i = 0; i < rows.length; i++) {
                    var id = rows[i].ID;
                    var fullname = rows[i].FullName;
                    addUser(id, fullname);
                }
                $('#grid').datagrid('uncheckAll');
            }

            //完成选择并返回
            function completeChoise() {
                var roleId = $('#txtID').val();
                if (roleId != "") {
                    var url = '/Role/EditUsers?r=' + Math.random();
                    saveAction(url, roleId, addUserList);
                }

                $("#DivEditUser").dialog('close');

                initRoleUsers(roleId);//重新刷新
            }

            //保存机构用户操作
            function saveAction(url, id, newList) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    async: false,
                    data: { roleId: id, newList: newList.join(',') },
                    success: function (result) {
                        $.messager.alert("提示", "操作成功！ ");
                        $('#DivEditUser').dialog('close');
                        reloadRelation();
                    },
                    error: function (xhr, status, error) {
                        $.messager.alert("提示", "操作失败"); //xhr.responseText
                    }
                });
            }

            //清空用户选择记录
            function cleareChoise() {
                $('#tags').importTags('');
                addUserList = new Array();
                addNameList = new Array();
            }
        </script>
        <script type="text/javascript">
            $(function () {
                $('#tags').tagsInput({
                    width: 'auto',
                    height: '100px',
                    onRemoveTag: function (tag) {
                        var i = addNameList.indexOf(tag);
                        var id = addUserList[i];
                        removeUser(id, tag);
                    },
                    interactive: false
                });
            });

            var addUserList = new Array();
            var addNameList = new Array();
            function addUser(id, name) {
                if ($.inArray(id, addUserList) == -1) {
                    addUserList.push(id);
                    addNameList.push(name);
                    $('#tags').addTag(name);
                }
            }
            function removeUser(id, name) {
                if ($.inArray(id, addUserList) != -1) {
                    addUserList.pop(id);
                    addNameList.pop(name);
                    $('#tags').removeTag(name);
                }
            }
    </script>
</head>
<body>
    <div id="loading" style="display: none;"><img alt="数据正在加载中..." src="~/Content/images/loading02.gif" /></div> 
    <div class="easyui-layout" style="width:700px;height:700px;" fit="true">
        <div data-options="region:'west',split:true,title:'角色列表',iconCls:'icon-group-key'" style="width: 250px; padding: 1px;">
            <div title="角色列表" style="padding:5px;height:auto" data-options="iconCls:'icon-organ'" >
                <div style="padding: 1px; border: 1px solid #ddd;">                
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" id="roleRefresh" onclick="initRoleTree()">刷新</a>
                    <a  href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-expand'" id="roleExpand" onclick="return false;">展开</a>
                    <a  href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-collapse'" id="roleCollapse" onclick="return false;">折叠</a>
                </div>
                <div style="padding: 1px; border: 1px solid #ddd;">    
                    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" id="btnDelete" onclick="delData()" >删除</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon-add" id="btnAdd" onclick="addData()" >添加</a>
                </div>
                <div>
                    <ul id="treeRole"></ul>
                </div>
            </div>
        </div>
        <div id="tbEdit" data-options="region:'center',split:true,title:'角色详细信息',iconCls:'icon-book'" style="padding:5px;height:auto">  
            <div class="easyui-layout" fit="false">
                <div id="tabViewRole" class="easyui-tabs" >
                    <div title="角色详细信息" style="padding:5px;height:auto" data-options="iconCls:'icon-view'" >
                        <form id="ffAdd" method="post" novalidate="novalidate">
                        <table id="tbRoleInfo" style="height: auto; width: 500px">
                            <tr height="10%">
                                <td align="left" style="width: 95px">编号(<font color="red">*</font>)：
                                </td>
                                <td align="left">
                                    <input id="txtID" style="width: 50px; background-color: #F0EAEA;" disabled type="text" name="ID">
                                </td>
                            </tr>
                            <tr height="10%">
                                <td style="width: 95px" align="left" width="95">名称(<font color="red">*</font>)：
                                </td>
                                <td align="left">
                                    <input id="txtName" style="width: 100%" type="text" maxlength="100" name="Name">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="txtCompany_ID">所属公司(<font color="red">*</font>)：</label>
                                </th>
                                <td>
                                    <input class="easyui-combobox" type="text" id="txtCompany_ID" name="Company_ID" data-options="required:true,validType:'length[1,50]'"/>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="txtHandNo">角色编码：</label>
                                </th>
                                <td>
                                    <input class="easyui-validatebox" type="text" id="txtHandNo" name="HandNo" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="txtSortCode">排序码：</label>
                                </th>
                                <td>
                                    <input class="easyui-validatebox" type="text" id="txtSortCode" name="SortCode" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="txtCategory">角色分类：</label>
                                </th>
                                <td>
                                    <select class="easyui-validatebox" style="width:100px" id="txtCategory" name="Category" ></select> 
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 95px">描述：
                                </td>
                                <td align="left">
                                    <textarea id="txtNote" style="width: 100%; height: 50px" name="Note"></textarea>
                                </td>
                            </tr>
                            <tr height="10%">
                                <td style="width: 95px"></td>
                                <td align="right">
                                    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnSave" onclick="saveData()">保存</a>
                                </td>
                            </tr>
                        </table>
                        </form>
                    </div>
                    <div title="可操作功能" style="padding:5px;height:auto" data-options="iconCls:'icon-key'" >
                        <div style="padding: 1px; border: 1px solid #ddd;">                
                            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" id="functionRefresh" onclick="initTreeFunction()">刷新</a>
                            <a  href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-expand'" id="functionExpand" onclick="return false;">展开</a>
                            <a  href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-collapse'" id="functionCollapse" onclick="return false;">折叠</a>
                        </div>
                        <div style="padding: 1px; border: 1px solid #ddd;">
                            <input id="chkCheckAllFunction" type="checkbox" onclick="checkAllTree('treeFunctionView', $(this).prop('checked'))">全选&nbsp;&nbsp; 
                            <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnSaveRoleFunction" onclick="saveRoleFunction()">保存</a>
                        </div>
                        <ul id="treeFunctionView"></ul>
                    </div>
                    <div title="可访问数据" style="padding:5px;height:auto" data-options="iconCls:'icon-key'" >
                        <div style="padding: 1px; border: 1px solid #ddd;">                
                            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" id="roleDataRefresh" onclick="initRoleDataView()">刷新</a>
                            <a  href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-expand'" id="roleDataExpand" onclick="return false;">展开</a>
                            <a  href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-collapse'" id="roleDataCollapse" onclick="return false;">折叠</a>
                        </div>
                        <div style="padding: 1px; border: 1px solid #ddd;">
                            <input id="chkCheckAllData" type="checkbox" onclick="checkAllTree('treeDataView', $(this).prop('checked'))">全选&nbsp;&nbsp; 
                            <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnSaveRoleData" onclick="saveRoleData()">保存</a>
                        </div>
                        <ul id="treeDataView"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="tb" data-options="region:'east',split:true,title:'角色相关信息',iconCls:'icon-book'" style="padding:5px;height:auto;width:230px">   
            <form id="Form1" method="post" >
            <table>
                <tr>
                    <td valign="top">
                        <table height="700px" width="200px">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="17%" align="left" background="~/Content/Themes/Default/droit-42.jpg">
                                                <img src="~/Content/Themes/Default/droit-41.jpg" width="50" height="31">
                                            </td>
                                            <td width="69%" background="~/Content/Themes/Default/droit-42.jpg">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="5%">
                                                            <img src="~/Content/Themes/Default/droit-42.jpg" width="11" height="31">
                                                        </td>
                                                        <td width="95%" align="center">
                                                            <span>包含用户</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="14%" align="right" background="~/Content/Themes/Default/droit-42.jpg">
                                                <img src="~/Content/Themes/Default/droit-43.jpg" width="42" height="31">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr height="30%">
                                <td>
                                    <select id="lbxUsers" multiple  style="height: 300px; width: 200px" />
                                </td>
                            </tr>
                            <tr align="right">
                                <td>
                                    <a href="#" class="easyui-linkbutton" iconcls="icon-edit" id="btnAddUser"  onclick="ShowEditTree()" >编辑</a>&nbsp;&nbsp;
                                    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" id="btnDeleteUser" onclick="deleteUser()" >移除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="17%" align="left" background="~/Content/Themes/Default/droit-42.jpg">
                                                <img src="~/Content/Themes/Default/droit-41.jpg" width="50" height="31">
                                            </td>
                                            <td width="69%" background="~/Content/Themes/Default/droit-42.jpg">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="5%">
                                                            <img src="~/Content/Themes/Default/droit-42.jpg" width="11" height="31">
                                                        </td>
                                                        <td width="95%" align="center">
                                                            <span>包含机构</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="14%" align="right" background="~/Content/Themes/Default/droit-42.jpg">
                                                <img src="~/Content/Themes/Default/droit-43.jpg" width="42" height="31">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr height="30%">
                                <td>
                                    <select id="lbxOUs" multiple  style="height: 250px; width: 200px" />
                                </td>
                            </tr>
                            <tr align="right">
                                <td>
                                    <a href="#" class="easyui-linkbutton" iconcls="icon-edit" id="btnAddOU"  onclick="ShowEditOUTree()" >编辑</a>&nbsp;&nbsp;
                                    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" id="btnDeleteOU" onclick="deleteOU()" >移除</a>
                                </td>
                            </tr>                    
                        </table>
                    </td>
                </tr>
            </table>
	        </form>
        </div>
    </div>

    <!--------------------------编辑角色包含用户的弹出层---------------------------->
    <div id="DivEditUser" class="easyui-dialog" style="width:880px;height:730px;padding:5px 5px"
			closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div class="easyui-layout" style="width:850px;height:700px;" fit="true">
           <div data-options="region:'west',split:true,title:'用户分类',iconCls:'icon-book'" style="width: 250px;height:500px; padding: 1px;">
               <div id="ttUser" class="easyui-tabs" >
                    <div title="按组织机构查看" style="padding:5px;height:auto" data-options="iconCls:'icon-organ'" >
                        <div>
                            <ul id="editTreeDept"></ul>
                        </div>
                    </div>
                    <div title="按角色查看" data-options="iconCls:'icon-group-key'" style="padding:5px;height:auto">
                        <div>
                            <ul id="editTreeRole"></ul>
                        </div>
		            </div>
	            </div>
                <script type="text/javascript">
                    $(function () {
                        var tabs = $('#ttUser').tabs().tabs('tabs');
                        for (var i = 0; i < tabs.length; i++) {
                            tabs[i].panel('options').tab.unbind().bind('mouseenter', { index: i }, function (e) {
                                $('#ttUser').tabs('select', e.data.index);
                            });
                        }
                    });
                </script>
           </div>

           <div id="tbEditMain" data-options="region:'center',title:'',iconCls:'icon-book'" style="padding:5px;height:500px"> 
            <form id="ff" method="post" novalidate="novalidate">
               <!-------------------------------详细信息展示表格----------------------------------->
                <table id="grid" style="width: 500px" title="包含用户" data-options="iconCls:'icon-view'">            
                </table>
            </form>
           </div>

           <div id="tbEditChoise" data-options="region:'south',split:true,title:'选择的用户',iconCls:'icon-book'" style="padding:5px;height:150px"> 
               <div id="selectedUsers" title="选择的用户" data-options="iconCls:'icon-view'" style="height:100px">
                    <input name="tags" id="tags" value="" />
               </div>    
           </div>
        </div>
    </div>

    <!--------------------------编辑角色包含机构的弹出层---------------------------->
    <div id="DivEditOU" class="easyui-dialog" style="width:580px;height:730px;padding:5px 5px"
			closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div class="easyui-layout" style="width:550px;height:700px;" fit="true">
            <div title="角色包含机构" data-options="region:'center',title:'',iconCls:'icon-book'" style="padding:5px;height:500px"> 
                <div style="padding: 1px; border: 1px solid #ddd;">                
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" id="roleDeptRefresh" onclick="initEditRoleDeptView()">刷新</a>
                    <a  href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-expand'" id="roleDeptExpand" onclick="return false;">展开</a>
                    <a  href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-collapse'" id="roleDeptCollapse" onclick="return false;">折叠</a>
                </div>
                <div style="padding: 1px; border: 1px solid #ddd;">
                    <input id="chkCheckAllRoleDept" type="checkbox" onclick="checkAllTree('treeRoleDeptView', $(this).prop('checked'))">全选&nbsp;&nbsp; 
                    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnSaveRoleDept" onclick="saveRoleDept()">保存</a>
                </div>
                <ul id="treeRoleDeptView"></ul>
            </div>
        </div>
    </div>
</body>
</html>

