@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>角色的数据权限</title>
    @*添加Jquery EasyUI的样式*@
    <link href="~/Content/JqueryEasyUI/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/JqueryEasyUI/themes/icon.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/themes/Default/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/Default/default.css" rel="stylesheet" type="text/css" />

    @*添加Jquery，EasyUI和easyUI的语言包的JS文件*@
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/locale/easyui-lang-zh_CN.js"></script>

    @*日期格式的引用*@
    <script src="~/Content/datapattern.js"></script>

    @*添加对ckeditor的支持*@
    <script src="~/Content/JQueryTools/ckeditor/ckeditor.js"></script>
    <script src="~/Content/JQueryTools/ckeditor/adapters/jquery.js"></script>
@*  <script>
        function initEditor() {
            $('#Content').ckeditor();
            $('#Content1').ckeditor();
        }
    </script>*@
    
    <script type="text/javascript">
    	var isAddOrEdit = 'add';//标识是新增还是编辑对话框弹出，用于删除附件的操作
    	
        $(function () {            
            var queryData = {  };//可添加一些预设条件
            InitGrid(queryData);//初始化Datagrid表格数据 
            InitDictItem();   //初始化字典信息
            
            BindSearchEvent();//绑定查询按钮事件
            BindAddEvent();   //绑定添加按钮的事件
            BindEditEvent();  //绑定修改按钮的事件

        });

        //初始化字典信息
        function InitDictItem() {
            //$('#PID').combobox({
            //    url: '/RoleData/GetDictJson',
            //    valueField: 'Value',
            //    textField: 'Text'
            //});
        }

        //实现对DataGird控件的绑定操作
        function InitGrid(queryData) {
            $('#grid').datagrid({   //定位到Table标签，Table标签的ID是grid
                url: '/RoleData/FindWithPager',   //指向后台的Action来获取当前用户的信息的Json格式的数据
                title: '角色的数据权限', 
                iconCls: 'icon-view',
                height: 650,
                width: function () { return document.body.clientWidth * 0.9 },//自动宽度
                nowrap: true,
                autoRowHeight: false,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 50,
                pageList: [50, 100, 200],
                rownumbers: true,
                //sortName: 'ID',    //根据某个字段给easyUI排序
                sortOrder: 'asc',
                remoteSort: false,
                idField: 'ID',
                queryParams: queryData,  //异步查询的参数
                columns: [[
	                { field: 'ck', checkbox: true },   //选择
                     { title: 'ID', field: 'ID', width: 80, sortable: true },
                     { title: '角色ID', field: 'Role_ID', width: 80, sortable: true },
                     { title: '所属公司', field: 'BelongCompanys', width: 80, sortable: true },
                     { title: '所属部门', field: 'BelongDepts', width: 80, sortable: true },
                     { title: '排除部门', field: 'ExcludeDepts', width: 80, sortable: true },
                     { title: '备注', field: 'Note', width: 80, sortable: true },
                ]],
                toolbar: [{
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {                        
                        ShowAddDialog();//实现添加记录的页面
                    }
                }, '-', {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-edit',
                    handler: function () {                        
                        ShowEditOrViewDialog();//实现修改记录的方法
                    }
                }, '-', {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {                        
                        Delete();//实现直接删除数据的方法
                    }
                }, '-', {
                    id: 'btnView',
                    text: '查看',
                    iconCls: 'icon-table',
                    handler: function () {                        
                        ShowEditOrViewDialog("view");//实现查看记录详细信息的方法
                    }
                }, '-', {
                    id: 'btnReload',
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        //实现刷新栏目中的数据
                        $("#grid").datagrid("reload");
                    }
                }],
                onDblClickRow: function (rowIndex, rowData) {
                    $('#grid').datagrid('uncheckAll');
                    $('#grid').datagrid('checkRow', rowIndex);
                    ShowEditOrViewDialog();
                }
            })
        };

        //绑定搜索按钮的的点击事件
        function BindSearchEvent() {
            //按条件进行查询数据，首先我们得到数据的值
            $("#btnSearch").click(function () {
                //得到用户输入的参数
                //取值有几种方式：$("#id").combobox('getValue'), $("#id").datebox('getValue'), $("#id").val()
                //字段增加WHC_前缀字符，避免传递如URL这样的Request关键字冲突
                var queryData = {
                    WHC_ID: $("#txtID").val(),
                    WHC_Role_ID: $("#txtRole_ID").val(),
                    WHC_BelongCompanys: $("#txtBelongCompanys").val(),
                    WHC_BelongDepts: $("#txtBelongDepts").val(),
                    WHC_ExcludeDepts: $("#txtExcludeDepts").val(),
                    WHC_Note: $("#txtNote").val()
                 }
                //将值传递给
                InitGrid(queryData);
                return false;
            });
        }

        //实现删除数据的方法
        function Delete() {
            //得到用户选择的数据的ID
            var rows = $("#grid").datagrid("getSelections");
            if (rows.length >= 1) {
                //遍历出用户选择的数据的信息，这就是用户用户选择删除的用户ID的信息
                var ids = "";   //1,2,3,4,5
                for (var i = 0; i < rows.length; i++) {
                    ids += rows[i].ID + ",";
                }
                //最后去掉最后的那一个,
                ids = ids.substring(0, ids.length - 1);
                var postData = { Ids: ids };

                //然后确认发送异步请求的信息到后台删除数据
                $.messager.confirm("删除确认", "您确认删除选定的记录吗？", function (deleteAction) {
                    if (deleteAction) {
                        $.get("/RoleData/DeletebyIds", postData, function (data) {
                            if (data == "true") {
                                $.messager.alert("提示", "删除选定的记录成功");
                                $("#grid").datagrid("reload");

                                //当删除完成之后，第二次删除的时候还记得上次的信息，这样是不可以的，所以我们需要清除第一次的信息                                
                                rows.length = "";//第一种方法                                
                                $("#grid").datagrid("clearSelections");//第二种方法
                            }
                            else {
                                $.messager.alert("提示", data);
                            }
                        });
                    }
                });
            }
            else {
                $.messager.alert("提示", "请选择你要删除的数据");
            }
        }

        //弹出新增对话框
        function ShowAddDialog() {
        	isAddOrEdit = 'add';//新增对话框标识
        	//CKEDITOR.instances.Content.setData('');  //清空编辑器的数据
        	
            $("#DivAdd").dialog('open').dialog('setTitle', '添加信息');
        }

        //绑定添加按钮的事件
        function BindAddEvent() {
            $("#btnAddOK").click(function () {
                //判断表单的信息是否通过验证
                var validate = $("#ffAdd").form('validate');
                if (validate == false) {
                    return false;
                }

                var postData = $("#ffAdd").serializeArray();
                $.post("/RoleData/Insert", postData, function (data) {
                    if (data = "true") {
                        //添加成功  1.关闭弹出层，2.刷新DataGird
                        $.messager.alert("提示", "添加成功");
                        $("#DivAdd").dialog("close");
                        $("#grid").datagrid("reload");
                        $("#ffAdd").form("clear");
                    }
                    else {
                        $.messager.alert("提示", "添加失败，请您检查");
                    }
                }).error(function () {
                    $.messager.alert("提示", "您未被授权使用该功能，请联系管理员进行处理。", 'warning');
                });
            });
        }
        
        //修改或查看明细信息（绑定显示数据）
        function ShowEditOrViewDialog(view) {
            //首先取出来用户选择的数据的ID
            var rows = $("#grid").datagrid("getSelections");
            //首先取出来值判断用户只能选择一个
            if (rows.length == 0) {
                $.messager.alert("提示", "请选择一条记录", "error");
                return;
            }
            else if (rows.length > 1) {
                $.messager.alert("提示", "每次只能修改/查看一条记录，你已经选择了<font color='red'  size='6'>" + rows.length + "</font>条", "error");
                return;
            }
            if (view == null) {
                //处理修改的信息
                $("#DivEdit").dialog('open').dialog('setTitle', '修改信息');
                //绑定修改详细信息的方法
                BindEditInfo();
            }
            else {
                //处理查看详细
                $("#DivView").dialog('open').dialog('setTitle', '查看详细信息');
                //绑定查看详细信息方法
                BindViewInfo();
            }
        }
        
        //绑定编辑详细信息的方法
        function BindEditInfo() {
            //首先用户发送一个异步请求去后台实现方法
            var ID = $("#grid").datagrid("getSelections")[0].ID;  //获取到了用用户选择的ID
            $.getJSON("/RoleData/FindByID?r=" + Math.random() + "&id=" + ID, function (info) {
            //赋值有几种方式：.datebox('setValue', info.Birthday);.combobox('setValue', info.Status);.val(info.Name);
                $("#ID1").val(info.ID);
                $("#Role_ID1").val(info.Role_ID);
                $("#BelongCompanys1").val(info.BelongCompanys);
                $("#BelongDepts1").val(info.BelongDepts);
                $("#ExcludeDepts1").val(info.ExcludeDepts);
                $("#Note1").val(info.Note);
 
				isAddOrEdit = 'edit';//新增对话框标识    
            });
        }

        //绑定查看详细信息的方法
        function BindViewInfo() {
            var ID = $("#grid").datagrid('getSelections')[0].ID;            
            //发送请求
            $.getJSON("/RoleData/FindByID?r=" + Math.random() + "&id=" + ID, function (info) {
                $("#ID2").text(info.ID);
                $("#Role_ID2").text(info.Role_ID);
                $("#BelongCompanys2").text(info.BelongCompanys);
                $("#BelongDepts2").text(info.BelongDepts);
                $("#ExcludeDepts2").text(info.ExcludeDepts);
                $("#Note2").text(info.Note);
 
            });
        }

        //绑定修改按钮的事件
        function BindEditEvent() {
            $("#btnEditOK").click(function () {
                //判断表单的信息是否通过验证
                var validate = $("#ffEdit").form("validate");
                if (validate == false) {
                    return false;
                }

                //构造参数发送给后台
                var ID = $("#ID1").val();
                var postData = $("#ffEdit").serializeArray();
                $.post("/RoleData/Update?ID=" + ID, postData, function (date) {
                    if (date == "true") {
                        //修改成功，关闭弹出层，刷新DataGird
                        $.messager.alert("提示", "修改成功");
                        $("#DivEdit").dialog('close');
                        $("#grid").datagrid("reload");
                    }
                    else {
                        $.messager.alert("提示", "修改失败，请您检查");
                    }
                }).error(function () {
                    $.messager.alert("提示", "您未被授权使用该功能，请重新登录测试或联系管理员进行处理。", 'warning');
                });
            });
        }
    </script>

    <style>
        table.view {border:1px solid #A8CFEB;border-collapse: collapse;margin-bottom:5px;}
        .view th{ padding-left:10px;padding-right:5px;padding-top:5px;padding-bottom:5px;width: 100px;border: 1px solid silver;background-color:#F1F6FF;}
        .view td{ padding-left:10px;padding-right:5px;padding-top:5px;padding-bottom:5px;width: 150px;border: 1px solid silver;background-color:#FAFCFF;}
    </style>
    </head>
<body>
    <div id="loading" style="display: none;"><img alt="数据正在加载中..." src="~/Content/images/loading02.gif" /></div>
    <div class="easyui-layout" id="tb" style="padding:5px;height:auto">
        <!-------------------------------搜索框----------------------------------->
        <fieldset>
            <legend>信息查询</legend>
            <form id="ffSearch" method="post">
		        <div style="margin-bottom:5px">
		        
                    <label for="txtID">ID：</label>
                    <input type="text" ID="txtID" name="txtID" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                    <label for="txtRole_ID">角色ID：</label>
                    <input type="text" ID="txtRole_ID" name="txtRole_ID" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                    <label for="txtBelongCompanys">所属公司：</label>
                    <input type="text" ID="txtBelongCompanys" name="txtBelongCompanys" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                    <label for="txtBelongDepts">所属部门：</label>
                    <input type="text" ID="txtBelongDepts" name="txtBelongDepts" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                    <label for="txtExcludeDepts">排除部门：</label>
                    <input type="text" ID="txtExcludeDepts" name="txtExcludeDepts" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                    <label for="txtNote">备注：</label>
                    <input type="text" ID="txtNote" name="txtNote" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                     <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">查询</a>
                </div>

            </form>
        </fieldset>
                
        <!-------------------------------详细信息展示表格----------------------------------->
        <table id="grid" style="width: 940px" title="用户操作" data-options="iconCls:'icon-view'">
            
        </table>
    </div>

    <!--------------------------添加信息的弹出层---------------------------->
    <div id="DivAdd" class="easyui-dialog" style="width:580px;height:250px;padding:10px 20px"
			closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-add',buttons: '#dlg-buttons'">
        <form id="ffAdd" method="post" novalidate="novalidate">
                <table id="tblAdd" class="view">
                    <tr>
                        <th>
                            <label for="ID">ID：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="ID" name="ID" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                        <th>
                            <label for="Role_ID">角色ID：</label>
                        </th>
                        <td>
                            <input class="easyui-numberbox" type="text" id="Role_ID" name="Role_ID" /> <!-- data-options="required:true,validType:'length[1,5]'" -->
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="BelongCompanys">所属公司：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="BelongCompanys" name="BelongCompanys" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                        <th>
                            <label for="BelongDepts">所属部门：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="BelongDepts" name="BelongDepts" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="ExcludeDepts">排除部门：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="ExcludeDepts" name="ExcludeDepts" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                        <th>
                            <label for="Note">备注：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Note" name="Note" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
 
                    <tr>
                        <td colspan="4" style="text-align:right; padding-top:10px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddOK" iconcls="icon-ok" >确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#DivAdd').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
        </form>
    </div>

    <!--------------------------编辑信息的弹出层---------------------------->
    <div id="DivEdit" class="easyui-dialog" style="width:580px;height:250px;padding:10px 20px"
			closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-edit',buttons: '#dlg-buttons'">
        <form id="ffEdit" method="post" novalidate="novalidate">
                <table id="tblEdit" class="view">
                    <tr>
 
                        <th>
                            <label for="Role_ID1">角色ID：</label>
                        </th>
                        <td>
                            <input class="easyui-numberbox" type="text" id="Role_ID1" name="Role_ID" /> <!-- data-options="required:true,validType:'length[1,5]'" -->
                        </td>
 
                        <th>
                            <label for="BelongCompanys1">所属公司：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="BelongCompanys1" name="BelongCompanys" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="BelongDepts1">所属部门：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="BelongDepts1" name="BelongDepts" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="ExcludeDepts1">排除部门：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="ExcludeDepts1" name="ExcludeDepts" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Note1">备注：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Note1" name="Note" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                    </tr>
 
                    <tr>
                        <td colspan="4" style="text-align:right; padding-top:10px">
                            <input type="hidden" id="ID1" name="ID" />
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnEditOK" data-options="iconCls: 'icon-ok'" >确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-cancel'" onclick="javascript:$('#DivEdit').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
        </form>
    </div>

    <!--------------------------查看详细信息的弹出层---------------------------->
    <div id="DivView" class="easyui-dialog" style="width:580px;height:250px;padding:10px 20px"
			closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-view',buttons: '#dlg-buttons'">
        <form id="ffView" method="post" novalidate="novalidate">
                <table id="tblView" class="view">
                    <tr>
                        <th>
                            <label for="ID2">ID：</label>
                        </th>
                        <td>
                            <label id="ID2" />
                        </td>
                        <th>
                            <label for="Role_ID2">角色ID：</label>
                        </th>
                        <td>
                            <label id="Role_ID2" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="BelongCompanys2">所属公司：</label>
                        </th>
                        <td>
                            <label id="BelongCompanys2" />
                        </td>
                        <th>
                            <label for="BelongDepts2">所属部门：</label>
                        </th>
                        <td>
                            <label id="BelongDepts2" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="ExcludeDepts2">排除部门：</label>
                        </th>
                        <td>
                            <label id="ExcludeDepts2" />
                        </td>
                        <th>
                            <label for="Note2">备注：</label>
                        </th>
                        <td>
                            <label id="Note2" />
                        </td>
                    </tr>
 
                    <tr>
                        <td colspan="4" style="text-align:right; padding-top:10px">
                            <input type="hidden" id="ID2" />
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-cancel'" onclick="javascript:$('#DivView').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
        </form>
    </div>
</body>
</html>
