<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="AdminSite" connectionString="http://192.168.0.96:8182"/>
    <add name="SSOSite" connectionString="https://192.168.0.96:44300"/>
    <!--<add name="SSOSite" connectionString="https://192.168.0.79:44300" />-->
    <add name="DictionarySite" connectionString="http://192.168.0.96:10000"/>
    <add name="gbinfosystem" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.68;Initial Catalog=gbinfosystem;User ID=app_source;Password=sf234@qfn23#%%; "/>
    <add name="gbdatabase" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.68;Initial Catalog=gbdatabase;User ID=app_login_system;Password=gaimimadeshiwangbadan123!; "/>
  </connectionStrings>
  <appSettings>
    <add key="DataService" value="http://192.168.0.64:18081/janus/app/metrix/v2/"/>
    <add key="siteurl" value="192.168.0.96:8091"/>
    <add key="domain" value="192.168.0.96"/>
  </appSettings>
</configuration>
